<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Login page</title>
</head>
<body>

<div>
    <div class="row">
        <div class="col-sm-5 col-md-2 col-md-offset-5">
            <br>
            <br>
            <br>
            <h4 class="text-left login-title">Please sign in</h4>
            <div class="account-wall">

                <form class="form-signin" th:method="post" th:action="@{/login}">
                    <dl>
                        <dd><input th:name="login" type="text" class="form-control" placeholder="Login" required autofocus></dd>
                        <dd><input th:name="password" type="password" class="form-control" placeholder="Password" required></dd>
                    </dl>
                    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>